@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --background: #211951;
  --text: #f0f3ff;
  --accent: #836fff;
  --alt: #15f5ba;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#main-doc {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: var(--background);
  color: var(--text);
  font-family: "Inconsolata", sans-serif;
}

/* NAV */

#navbar {
  position: fixed;
  height: 100%;
  padding: 3rem;
  width: 25%;
  background-color: var(--text);
  color: var(--accent);
  border-bottom-right-radius: 1rem;
  border-right: var(--accent) solid 0.75rem;
}

ul,
li,
a {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: var(--text);
}

#navbar .title {
  font-family: "Space Grotesk", monospace;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

#navbar .title:hover {
  font-size: 2.6rem;
  color: var(--alt);
  transition: 500ms;
  cursor: none;
}

#navbar a {
  color: var(--accent);
  font-size: 1.5rem;
  font-weight: bold;
}

#navbar a:hover {
  color: var(--alt);
  font-size: 1.6rem;
  font-weight: bold;
  transition: 500ms;
}

/* SECTIONS */

.sections {
  margin-left: 30%;
  width: 100%;
  height: 100%;
  padding: 2.5rem;
}

header {
  font-family: "Space Grotesk";
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

header:hover {
  font-size: 2.6rem;
  color: var(--alt);
  transition: 500ms;
  cursor: none;
}

.main-section {
  padding: 1.25rem 0;
}

.subtitle {
  padding-bottom: 1rem;
  font-style: italic;
}

/* MOBILE */
@media only screen and (max-width: 815px) {
  /* For mobile phones: */

  #navbar {
    background-color: var(--text);
    padding: 2rem;
    width: 100%;
    max-height: 200px;
    z-index: 1;
    border-bottom: var(--accent) solid 0.5rem;
    border-radius: 0;
    border-right: none;
  }

  #navbar ul {
    display: flex;
    flex-wrap: wrap;
  }

  #navbar,
  a::before {
    content: ".";
  }

  #navbar a {
    font-size: 1.25rem;
  }

  #navbar a:hover {
    font-size: 1.3rem;
    transition: 500ms;
  }

  .sections {
    /* position: relative; */
    margin: auto;
    margin-top: 10rem;
  }
}
